p{
  color:navy;
}
.gallery h1{

  color:cornsilk;
  background-color: crimson;
  text-align: center;
}
.gallery img{
  width:32%;
  margin:auto;
  padding:4px;
}
.service {
  width:100%;
  height: 150px;
  background-color: darkgreen;
}
.service h1{
    background-color: chartreuse;
    color:darkblue;
    text-align: center;
    padding: 20px;
}

.feature
{
  background-color:chartreuse ;
  width: auto;
  height: 400px;
}
.feature h2
{
  color: rgb(0, 0, 0);
  text-align: center;
  
}
.feature span{
  color:red ;
  font-size: 20px;
  font-weight: 700;
}
.feature small
{
  font-size: 18px;
  color:green;
}
.feature  .one{
  width:30%;
  background-color:rgb(255, 255, 255) ;
  color:rgb(0, 56, 82);
  margin: 10px;
  padding: 10px;
  float:left;
  border: 5px solid black;

}

.feature  .two{
  width:30%;
  background-color:rgb(255, 255, 255) ;
  color:rgb(0, 56, 82);
  margin: 10px;
  padding: 10px;
  float:left;
  border: 5px dashed black;
}
.feature .three{
  width:30%;
  background-color:rgb(255, 255, 255) ;
  color:rgb(0, 56, 82);
  margin: 10px;
  padding: 10px;
  float:left;
  border: 5px dotted black;
}